.bg {
  width: 100%;
  height: 100%;
  background-image: url(./2273-modified3.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.mainRegion {
  display: flex;
  padding: 24px;

  position: absolute;
  width: 625px;
  height: 825px;
  top: 16px;

  background-color: rgba(255, 255, 255, 0.5);

  box-shadow: 0px 5px 10px 5px rgba(157, 185, 217, 0.2);
  border-radius: 4px;
}

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.snsBtnContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.registerForm {
  position: absolute;
  top: 48px;
  left: 105px;
  right: 105px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5em;
  box-sizing: border-box;
}

.snsBtn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-size: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 3rem;
  height: 3rem;

  background: #FFFFFF;
  border: 2px solid #00879e;
  border-radius: 50%;
  color: #00879e;
}

.snsBtn:hover {
  background: #00879e;
  color: #FFFFFF;
}

.snsBtn:active {
  background: #004b58;
  border: 2px solid #004b58;
  color: #FFFFFF;
}

.inputTextArea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

  display: flex;
  flex-direction: row;
  padding: 16px 1rem;
  box-sizing: border-box;
  margin: 0.5rem 0 0.5rem 0;

  position: relative;
  width: 100%;
  height: auto;

  background: #ffffff;
  border-radius: 8px;
  border: 2px solid #00879e;

  font-weight: 500;
  font-size: 18px;
}

.inputTextArea::placeholder {
  font-weight: normal;
}

.inputPasswordArea {
  display: flex;
  position: relative;
  align-items: center;
}

.miniPlaceholder {
  position: absolute;
  margin: 0.7rem 12px;
  font-size: 8px;
  top: 0px;
}

.returnBtn:hover {
  text-decoration-line: underline;
  text-decoration-color: #00879e;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.checkBoxContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

/* 
   Responsive web design for mobile device, 
   triggered when device's width is less than 600px.
*/
@media (max-width: 600px) {
  .bg {
    background-size: contain;
    background-position: left bottom;
  }

  .mainRegion {
    padding: 1.5rem 1rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    box-shadow: none;
  }

  .registerForm {
    left: 0;
    right: 0;
    margin: 1rem;
  }

  .inputTextArea {
    font-size: 16px;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .bg {
    background-position: center;
  }
}